<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    修改期刊卷期
  </div>
  <div class="card-body">
    <%= render 'form', issue: @issue %>
    <%= link_to 'Show', admin_journal_issue_path(@issue.journal, @issue) %> | <%= link_to 'Back', admin_journal_issues_path(@issue.journal) %>
  </div>
</div>
