<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    编辑作者
  </div>
  <div class="card-body">
    <%= render 'form', author: @author %>

    <%= link_to 'Show', [:admin, @author.article.issue.journal, @author.article.issue, @author.article, @author] %> |
    <%= link_to 'Back', admin_journal_issue_article_authors_path(@author.article.issue.journal, @author.article.issue, @author.article) %>
  </div>
</div>
