<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-file"></i>
    新增期刊
  </div>
  <div class="card-body">
    <%= render 'form', journal: @journal %>
    <%= link_to 'Show', [:admin, @journal] %> | <%= link_to 'Back', admin_journals_path %>
  </div>
</div>
