<h1>New Keyword</h1>

<%= render 'form', keyword: @keyword %>

<%= link_to 'Back', admin_journal_issue_article_keywords_path(@keyword.article.issue.journal, @keyword.article.issue, @keyword.article) %>
